.navbar {
}

.navbar-container {
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
}

.logo {
    color: rgb(0, 0, 0); /* Text color for the logo */
  display: flex;
  align-items: center;
}

.logoimg{
    height: 32px;
    padding-right: 20px;
    padding-left: 20px;
}
.nav-links {
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    float: right;
    position: relative;
}

.nav-links li {
    display: inline-block; /* Display list items horizontally */
    margin-right: 1rem; /* Add spacing between list items */
}

.nav-links li a {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline; /* Add underline on hover */
}

.button {
    background-color: #ffa949;
    color: #fff;
    text-align: center;
    border: 1px transparent;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    transition: background-color .4s, border-color .4s, transform .4s, box-shadow .4s;
    display: flex;
}

.nav-search-button {
    width: 48px;
    height: 48px;
    background-color: #f3f3f7;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    border: 1px transparent;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    transition: background-color .4s, border-color .4s, transform .4s, box-shadow .4s;
    display: flex;
}

.callButton{
    padding-left: 30px;
}

.nav{
    z-index: 100;
    height: 88px;
    background-color: var(--white);
    justify-content: center;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}

.navigation{
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 15px;
    display: flex;
}

.nav-right{
    flex: 1;
    /* justify-content: flex-end; */
    /* align-items: center; */
    display: flex;
    /* grid-column-gap: 16px; */
    grid-row-gap: 16px;
    flex: none;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-auto-columns: 1fr;
    display: grid;
}